<!DOCTYPE html>
<html lang="fr">
<head>
	<title><%- _metadata.title%></title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="language" content="fr"/>
	<meta name="category" content="nodeJS,framework,AOP"/>
	<meta name="copyright" content="<%- SITE_NAME%> by <%- AUTHOR%>"/>

	<%
	// Set meta data
	%>
	<meta name="description" content="<%- _metadata.description%>"/>
	<meta name="keywords" content="<%- _metadata.keywords%>"/>
	<meta name="author" content="<%- _metadata.author%>"/>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' 'unsafe-inline'; img-src 'self' data:"/>
	<link rel="canonical" href="<%- _metadata.canonical%>"/>

	<%
	// Publication timestamp is set only for static contents when cache is generated
	// This variable can be set from a BO class
	//if(_metadata.lastModified !== undefined) {
	//	echo '<meta http-equiv="last-modified" content="', gmdate('D, d M Y H:i:s', metadata.lastModified), ' GMT"/>';
	//}
	%>
	
	<%
	// Set Twitter Card meta
	%>
	<meta name="twitter:url" content="<%- _metadata.canonical%>"/>
	<%if(_metadata.twitter !== undefined) {%>
	<meta name="twitter:card" content="<%- _metadata.twitter.card%>"/>
	<meta name="twitter:site" content="<%- _metadata.twitter.site%>"/>
	<meta name="twitter:title" content="<%- _metadata.twitter.title%>"/>
	<meta name="twitter:description" content="<%- _metadata.twitter.description%>"/>
	<meta name="twitter:creator" content="<%- _metadata.twitter.creator%>"/>
	<meta name="twitter:image:src" content="<%- _metadata.twitter.imageSrc%>"/>
	<%} else {%>
	<meta name="twitter:title" content="<%- _metadata.title%>"/>
	<meta name="twitter:description" content="<%- _metadata.description%>"/>
	<%}%>
	
	<%
	// Set Open Graph meta
	%>
	<meta property="og:url" content="<%- _metadata.canonical%>"/>
	<%if(_metadata.openGraph !== undefined) {%>
	<meta property="og:type" content="<%- _metadata.openGraph.type%>"/>
	<meta property="og:title" content="<%- _metadata.openGraph.title%>"/>
	<meta property="og:description" content="<%- _metadata.openGraph.description%>"/>
	<meta property="og:image" content="<%- _metadata.openGraph.image%>"/>
	<meta property="og:site_name" content="<%- _metadata.openGraph.siteName%>"/>
	<%} else {%>
	<meta property="og:title" content="<%- _metadata.title%>"/>
	<meta property="og:description" content="<%- _metadata.description%>"/>
	<%}%>
	
	<link rel="preload" href="/core.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
	<noscript><link rel="stylesheet" href="/core.css"></noscript>
	<script src="/core.js" async defer></script>
	
	<style>
	<%- _pageCriticalCss%>
	<%- _pageCss%>
	</style>

	<%
	// No favicon by default
	%>
	<link rel="icon" href="data:;base64,iVBORw0KGgo="/>
</head>
<body>
	<header id="header">
		<%- _pageHeader%>
	</header>
	
	<input type="checkbox" id="menuCheckbox" class="hidden"/>
	<label for="menuCheckbox" id="menuButton"><span></span></label>
	<nav id="menu">
		<%- _pageMenu%>
	</nav>

	<nav id="breadcrumb">
		<%- _pageBreadcrumb%>
	</nav>
	
	<main id="body" class="nl">
		<%- _pageBody %>
	</main>
	
	<footer id="footer">
		<%- _pageFooter%>
	</footer>

	<script>
		/*<![CDATA[*/
		var _={};
		window.onload=function(){
			<%- _pageJs%>
		};
		/*]]>*/
	</script>
</body>
</html>